<div class="con ">
    <div id="header">
        <h2>CREATE OR UPDATE POST</h2>
    </div>
    <form>
        <input type="file" placeholder="image">
        <input type="text" class="form-control input" name="" id="" formControlName="email" aria-describedby="emailHelpId" placeholder="Title">
        <input type="number" class="form-control input" name="" id="" formControlName="email" aria-describedby="emailHelpId" placeholder="Subtitle ">
        <input type="email" class="form-control input" name="" id="" formControlName="email" aria-describedby="emailHelpId" placeholder="description">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-warning">
                Home
                <input type="checkbox" name="" id="" checked autocomplete="off">
            </label>
            <label class="btn btn-warning">
                carousel
                <input type="checkbox" name="" id="" autocomplete="off">
            </label>
            <label class="btn btn-warning">
                Gallery
                <input type="checkbox" name="" id="" autocomplete="off">
            </label>
        </div>
        <div class="submit">
            <button class="btn btn-warning btn-block ordering-button"> Create/Update post</button>
        </div>
    </form>
</div>


