<div class="con card">
    <div id="header">
        <h2>CHANGE PASSWORD</h2>
    </div>
    <form>
        <input type="password" class="form-control input" name="" id="" formControlName="email" aria-describedby="emailHelpId" placeholder="Old Password">
        <input type="password" class="form-control input" name="" id="" formControlName="email" aria-describedby="emailHelpId" placeholder="New password">
        <div class="submit">
            <button class="btn btn-warning btn-block ordering-button"> Change Password</button>
        </div>
    </form>
</div>


