<div class="con card">
    <div id="header">
        <h2>CONTACT US</h2>
    </div>
    <form>
        <input type="text" class="form-control input" name="" id="" formControlName="email" aria-describedby="emailHelpId" placeholder="Name">
        <input type="number" class="form-control input" name="" id="" formControlName="email" aria-describedby="emailHelpId" placeholder="Phone no">
        <input type="email" class="form-control input" name="" id="" formControlName="email" aria-describedby="emailHelpId" placeholder="Email">
        <input type="text" class="form-control input" name="" id="" formControlName="email" aria-describedby="emailHelpId" placeholder="Product name or description">
        <div class="submit">
            <button class="btn btn-warning btn-block ordering-button"> Place order</button>
        </div>
    </form>
</div>