<div class="wrapper">
        <div class="home-posts">
            <div class="image-frame">
                <img src="../../assets/pictures/images (19).jpeg" class="image" >
            </div>
            <div class="card text-div">
                <div class="badges">
                    <div class="tags"><p>Home</p></div>
                    <div class="tags"><p>inventory</p></div>
                    <div class="tags"><p>carousel</p></div>
                </div>
                <h5 class="card-title">10% Discount on new red sofa</h5>
                <h6 class="card-subtitle mb-2 text-muted">first 10 sales only</h6>
                <p class="card-text">New arriving red sofa that goes well with red, pink and white background place your orders now to take advantage of the Discount.</p>
                <div class="orders-buttons-group">
                    <div class="orders-buttons"><button type="button" class="btn btn-warning orders-buttons"><i class="fa fa-pencil" aria-hidden="true"> Edit</i></button></div>
                    <div class="orders-buttons"><button type="button" class="btn btn-warning orders-buttons"> <i class="fa fa-trash" aria-hidden="true"> Delete</i></button></div>
                </div>
            </div>
        </div>
        <div class="home-posts">
            <div class="image-frame">
                <img src="../../assets/pictures/images (19).jpeg" class="image" >
            </div>
            <div class="card text-div">
                <div class="badges">
                    <div class="tags"><p>Home</p></div>
                    <div class="tags"><p>inventory</p></div>
                    <div class="tags"><p>carousel</p></div>
                </div>
                <h5 class="card-title">10% Discount on new red sofa</h5>
                <h6 class="card-subtitle mb-2 text-muted">first 10 sales only</h6>
                <p class="card-text">New arriving red sofa that goes well with red, pink and white background place your orders now to take advantage of the Discount.</p>
                <div class="orders-buttons-group">
                    <div class="orders-buttons"><button type="button" class="btn btn-warning orders-buttons"><i class="fa fa-pencil" aria-hidden="true"> Edit</i></button></div>
                    <div class="orders-buttons"><button type="button" class="btn btn-warning orders-buttons"> <i class="fa fa-trash" aria-hidden="true"> Delete</i></button></div>
                </div>
            </div>
        </div>
        <div class="home-posts">
            <div class="image-frame">
                <img src="../../assets/pictures/images (19).jpeg" class="image" >
            </div>
            <div class="card text-div">
                <div class="badges">
                    <div class="tags"><p>Home</p></div>
                    <div class="tags"><p>inventory</p></div>
                    <div class="tags"><p>carousel</p></div>
                </div>
                <h5 class="card-title">10% Discount on new red sofa</h5>
                <h6 class="card-subtitle mb-2 text-muted">first 10 sales only</h6>
                <p class="card-text">New arriving red sofa that goes well with red, pink and white background place your orders now to take advantage of the Discount.</p>
                <div class="orders-buttons-group">
                    <div class="orders-buttons"><button type="button" class="btn btn-warning orders-buttons"><i class="fa fa-pencil" aria-hidden="true"> Edit</i></button></div>
                    <div class="orders-buttons"><button type="button" class="btn btn-warning orders-buttons"> <i class="fa fa-trash" aria-hidden="true"> Delete</i></button></div>
                </div>
            </div>
        </div>
        <div class="home-posts">
            <div class="image-frame">
                <img src="../../assets/pictures/images (19).jpeg" class="image" >
            </div>
            <div class="card text-div">
                <div class="badges">
                    <div class="tags"><p>Home</p></div>
                    <div class="tags"><p>inventory</p></div>
                    <div class="tags"><p>carousel</p></div>
                </div>
                <h5 class="card-title">10% Discount on new red sofa</h5>
                <h6 class="card-subtitle mb-2 text-muted">first 10 sales only</h6>
                <p class="card-text">New arriving red sofa that goes well with red, pink and white background place your orders now to take advantage of the Discount.</p>
                <div class="orders-buttons-group">
                    <div class="orders-buttons"><button type="button" class="btn btn-warning orders-buttons"><i class="fa fa-pencil" aria-hidden="true"> Edit</i></button></div>
                    <div class="orders-buttons"><button type="button" class="btn btn-warning orders-buttons"> <i class="fa fa-trash" aria-hidden="true"> Delete</i></button></div>
                </div>
            </div>
        </div>
        <a class="btn btn-warning btn-lg btn-block ordering-button"  routerLink="update-post" routerLinkActive="active" (click)=name()>Create Post</a>
</div>

<router-outlet></router-outlet>