<div class="con ">
    <div id="header">
        <h2>CREATE OR UPDATE POST</h2>
    </div>
    <form>
        <img src="../../assets/pictures/images (19).jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">        <label for="UploadPicture" class="btn btn-block btn-warning">Upload Picture</label>
        <input type="file" accept="image/*" name="UploadPicture" id="UploadPicture" class="change-photo">
        <input type="text" class="form-control input" name="" id="" formControlName="email" aria-describedby="emailHelpId" placeholder="Title">
        <input type="number" class="form-control input" name="" id="" formControlName="email" aria-describedby="emailHelpId" placeholder="Subtitle ">
        <input type="email" class="form-control input" name="" id="" formControlName="email" aria-describedby="emailHelpId" placeholder="description">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-warning">
                Home
                <input type="checkbox" name="" id="" checked autocomplete="off">
            </label>
            <label class="btn btn-warning">
                carousel
                <input type="checkbox" name="" id="" autocomplete="off">
            </label>
            <label class="btn btn-warning">
                Gallery
                <input type="checkbox" name="" id="" autocomplete="off">
            </label>
        </div>
        <div class="submit">
            <button class="btn btn-warning btn-block ordering-button"> Create/Update post</button>
        </div>
    </form>
</div>


