<!--<nav class="navbar navbar-expand-sm navbar-dark nav ">
    <a class="navbar-brand" href="#">Admin</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="orders" routerLinkActive="active"> Orders <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" >Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" >Change password</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>-->


<div class="buttons-bar">
    <div class="buttons-divs"><button type="button" class="btn btn-warning nav-buttons"><i class="fa fa-plus" aria-hidden="true"></i></button><p>New post</p></div>
    <div class="buttons-divs"><button type="button" class="btn btn-warning nav-buttons"><i class="fa fa-pencil" aria-hidden="true"></i></button><p>Manage post</p></div>
    <div class="buttons-divs"><button type="button" class="btn btn-warning nav-buttons"><i class="fa fa-list-ul" aria-hidden="true"></i></button><p>Orders</p></div>
</div>
<div class="header">Orders</div>
<div class="orders-wrapper">
    <div class="orders">
        <h4>black sofa</h4>
        <p>Olaoluwa marvellous</p>
        <p>mharvehll@gmail.com</p>
        <h5>08033873611</h5>
        <div class="orders-buttons-group">
            <div class="orders-buttons"><button type="button" class="btn btn-warning orders-buttons"><i class="fa fa-check" aria-hidden="true"> Read</i></button></div>
                <div class="orders-buttons"><button type="button" class="btn btn-warning orders-buttons"> <i class="fa fa-trash" aria-hidden="true"> Delete</i></button></div>
        </div>
    </div>
</div>